
body {
	background-color: rgb(231, 234, 236);
	font-family: Helvetica, Verdana;
		
	padding: 0px;
	margin: 0px;
	width: 100%;
	min-width: 800px;
}

#content {
	position: absolute;
	height: 660px;
	width: 100%;
	overflow: hidden;
	
	top: 50%;
	margin-top: -330px;
	margin: 0xp auto;
}

#logo {
	position: relative;
	top: -250px;
	left: 200px;
	height: 400px;
/*	margin-top: -200px;
	margin-left: -200px; */
	margin: 0px auto;
	z-index: -1;
}

#navigation {
	margin: 0px auto;
	width: 800px;
	z-index: 1;
	
	padding: 0px 20px;
}

#navigation-left {
	width: 320px;
	float: left;
	overflow: hidden;
}

#navigation-right {
	width: 320px;
	float: right;
	overflow: hidden;
}

#bar {
	background-color: rgb(125,125,125);
	-webkit-box-shadow: 0 0px 4px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0px 4px rgba(0,0,0,0.4);
	
	width: 100%;

	position: absolute;
	top: 50%;
	height: 100px;
	margin-top: -50px;
	z-index: 0;
}

.left {
	float: left;
}

.right {
	float: right;

}

.link {
	display: block;
	height: 100px;

	margin: 0px 10px;
	padding: 0px 10px;
	
	color: rgb(230,230,230);
	text-shadow: 0px -1px 0px rgb(0,0,0);
		
	font-size: 30px;
	line-height: 100px;
}

.link:hover {
	cursor: pointer;
	background-color: rgb(102,159,172);
	color: rgb(188,222,229);
}

#download:hover {
	background: #ffffff url('download-hover.png') no-repeat left top;
}

#development:hover {
	background: #ffffff url('development-hover.png') no-repeat left top;
}

#download {
	width: 136px;
}

#faq {
	width: 61px;
}

#download-req {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: -75px;
	font-size: 12px;
	text-shadow: none;
	
	color: yellow;
}

#title {
	color: rgb(30,30,30);
	text-shadow: 0px 0px 2px rgba(0,0,0,0.4);
	font-size: 50px;
	width: 100%;
	margin: 20px 0px;
	text-align: center;
}

#subtitle {
	color: rgb(30,30,30);
	font-size: 20px;
	margin: 20px 0px;
	width: 100%;
	text-align: center;
}