.dialog {
		background-color: rgb(70,70,70);
		color: rgb(220,220,220);
		display: none;
		width: 300px;
		padding: 15px;
		text-align: left;
		border: 2px solid #333;
		
		-webkit-border-radius: 6px;
		-webkit-box-shadow: 0 0 50px #ccc;
	}
	
.mini-dialog {
		background-color: rgb(70,70,70);
		color: rgb(220,220,220);
		padding: 4px;
		display: none;

		-webkit-border-top-left-radius: 6px;
		/*-webkit-border-top-right-radius: 6px; */
		-webkit-box-shadow: 0px 0px 3px 3px #ccc;
}

