{namespace template}

/**
 * Gives the user information about how to access metamode
 */
{template .startupDialog}
	<div class="startup-info">Press ESC to</div>
	<div class="startup-mode-name">enter or exit META-mode</div>
{/template}