
body {
	font-family: Monaco;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	background-color: #E7EAEC;
}

.heading {
	font-family: MuseoSans, Tahoma, sans-serif;
	text-shadow: white 0px 1px 0px;
}

.editor {
	background-color: white;
	position: fixed;
	display: block;
	overflow: auto;
	width: 100%;
	height: 100%;
}

.fullScreen {
	border: 1px solid black;
}

.mini-map {
	right: 10px;
	top: 50px;
	position: fixed;
	display: none;
	background-image: url('../images/mini-map.png');
	background-repeat: no-repeat;
	height: 660px;
	width: 238px;
}

.mini-window {
	position: absolute;
	height: 80px;
	width: 100%;
	top: 20px;
	border: 1px solid blue;
}



