{namespace template}

/**
 * Dialog that asks use if they want to save before quiting
 */
{template .promptToSave}
	<p>You have unsaved changes</p>
	<button class="save close">save</button>
	<button class="close-anyway close">close anyway</button>
	<button class="cancel close">cancel</button>
{/template}