{namespace template}

/**
 * Gives the user information about how to access metamode
 */
{template .startupDialog}
	<div class="startup-info">Press ESC to enter or exit</div>
	<div class="startup-mode-name">Meta-mode</div>
{/template}